.CountdownContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
}

.CountdownSection {
    width: 100%;
    height: auto;
    max-width: var(--page-width);
    margin: 0 auto 8rem auto;
}

.Title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.375rem;
    margin-bottom: 4rem;
}

.Subtitle {
    margin: -0.5rem 0 0 0;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.Countdown {
    margin: 10px auto;
    padding-bottom: 20px;
    align-content: center;
}

.CountdownCol {
    display: inline-block;
}

.CountdownColElement {
    display: inline-block;
    margin: 0 9px;
    display: flex;
    flex-direction: column;
}

.CountdownColElement strong {
    font-size: 100px;
    padding-bottom: 0.5em;
}

.CountdownColElement span {
    font-size: 3rem;
}


@media (max-width: 768px) {
    .Countdown {
        max-width: 316px;
        align-content: center;
    }
    .CountdownColElement {
        margin: 0 3px;
    }

    .CountdownColElement strong {
        font-size: 50px;
    }
    
    .CountdownColElement span {
        font-size: .8rem;
        padding-bottom: 0;
    }
}